[flake8]
max-line-length = 120
ignore =
    E203,  # Пробел перед : в срезах
    E266,  # Слишком много # для комментария
    W503,  # Разрыв строки перед бинарным оператором
    E501,  # Длина строки
    C901   # Слишком сложная функция
exclude =
    .git,
    __pycache__,
    migrations,
    venv,
    .venv,
    env,
    .env,
    .github,
    scripts,
    docs,
    build,
    dist